$text-color: #273049;
$card-color: #f4f2ec;
$particular-color: #5ac6ec;
$prenotation-color: #00182b;

.List {
  margin: 62px;
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style-type: none;
}

.SingleCard {
  letter-spacing: 1px;
  background-color: $card-color;
  border-radius: 12px;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  margin-bottom: 12px;

  &__Title {
    margin: 4px;
  }

  &__btn {
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 35px;
    background-color: $text-color;
    color: $card-color;
    margin-top: 10px;
    border-radius: 4px;
    transition: 0.4s;

    &:hover{
      background-color: #f4f2ec;
      color:#273049 ;
    }
  }

  &__ParagraphBlue {
    color: $particular-color;
  }
  &__BoatType {
    margin-right: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__Departure {
    color: $text-color;
  }
  &__Period {
    margin: 12px;
    display: flex;
  }
  &__Available {
    margin: 12px;
  }
  &__Icon {
    margin-right: 12px;
  }

  &__Departureby{
  border-radius: 4px;
  width: 270px;
  height: 40px;
  margin-bottom: 20px;
 
  padding: 8px;
  background-color: #273049;
  color: #f4f2ec;
  }
 
}

.ShowMore {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $card-color;
  background-color: $text-color;
  width: 200px;
  height: 50px;
  margin-bottom: 12px;
  border-radius: 4px;
}
.Filter {
  margin: 12px;
  display: flex;
  align-items: center;
}

.PortFilter {
  padding: 12px;
  height: 50px;
  border-radius: 4px;
}

@media screen and (max-width: 1050px) {
  .CardList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .List {
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  .Filter {
   gap: 12px;
    flex-direction: column;
  }
}
