$text-color:#273049;
$card-color:#F4F2Ec;
$particular-color:#5AC6EC;
$prenotation-color:#00182B;

.Banner__Wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.Banner__Img{
    width: 100%;
    height: 600px;
    display: block;
    filter: brightness(60%);
    z-index: -1;
}

.Banner__Text{
    
    display: flex;
    align-items: center;
  gap: 80px;
    letter-spacing: 2px;
    position: absolute;
    text-align: center;
    color: $card-color;
}

@media screen and (max-width :767px) {
    .Banner__Text{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
}